* {
    font-size: inherit;
    margin: 0;
    padding: 0;
}

.mat-card {
    padding: 0;
}

#wrapper {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

.main__table {
  margin: 0 auto;   
  text-align: left;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

@media (min-width: 300px) and (max-width: 499px) {

    
    #wrapper {
        width: 310px;
        max-width: 310px;
        font-size: 0.8rem !important;
    }

      .main__table td {
        min-width: 30px !important;
        max-width: 30px !important;
        padding-left: 10px !important;
        line-height: 0.8rem;    
        overflow: hidden; 
        word-break: keep-all;
        padding-right: 10px;
        margin-top:15px;
      }

      .main__table th {
        max-width: 30px !important;
        min-width: 30px !important;
        padding-left: 10px !important;
        line-height: 0.8rem;   
        padding-right: 10px;
      }

      .main__table td:last-child {
        padding-left: 20px !important;
      }

      .main__table th:last-child {
        padding-left: 20px !important;
      }

    .main__table td:first-child {
        width: 80px !important;
        min-width: 80px !important;
        max-height: 100px !important;
        display: block;
        overflow: hidden;
        text-overflow: "...";
    }


    .main__table td:nth-child(2) {
        min-width: 30px !important;
        width: 30px !important;
    }

    .main__table td:nth-child(3) {
        min-width: 25px !important;
        width: 25px !important;
    }

    .main__table td:nth-child(4) {
        min-width: 30px !important;
        width: 30px !important;
    }

    .main__table td:last-child {
        min-width: 20px !important;
        width: 20px !important;
    }
  }
@media (min-width: 500px) and (max-width: 809px) {
    

    #wrapper {
        width:510px;
        max-width: 510px;
        font-size: 0.8rem !important;
    }
    .main__table td,th {
        padding-bottom: 15px;
    } 
}

@media (min-width: 810px) and (max-width: 1022px)  {
    
     #wrapper {
        max-width: 810px !important;
    }

    .main__table td, th {
        padding-left: 30px !important;
        padding-bottom: 20px !important;
      }
}

@media (min-width: 1023px) {
    #wrapper {
        flex-direction: row;
        max-width: 90% !important;
        font-size: 1rem !important;
    }

    .main__table td,th {
        padding-left: 40px !important;
        padding-bottom: 20px;
      }
}