#wrapper {
  display: flex;
}

p {
    font-family: Lato;
  }
  
  h3 {
    text-align: center;
  }
  
  /* Переместим */
  form {
    margin: 0 auto;
    max-width: 300px;
  }
  
  .filter-block__search {
    margin-left: 20px;
  }

  
  .main__table {
    width: 800px;
    max-width: 800px; 
    margin: 0 auto;
    font-size: 18px;
    text-align: left;
  }


  
  
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }  

