<mat-card>
    <mat-card-content class="mar-card-content">
        <!-- filtering -->
        <mat-form-field class="filter-input">
                <input [routerLink]="['']" [(ngModel)]="searchQuery" [queryParams]="{'search':searchQuery, 'group': searchGroupQuery}"
                 matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                <mat-hint class="mat-input-hint">search by anything :)</mat-hint>
            
            <!-- <mat-error>
                No products found with this filter.
            </mat-error> -->
        </mat-form-field>
        <!-- Group filter-->
            <mat-radio-group class="filter-category-section" [(ngModel)]="radioButState">
                <mat-radio-button [routerLink]="['']" [queryParams]="{'search':searchQuery, 'group': elem}"
                class="filter-category-button" color="primary" (change)="groupFilterRadio($event)"
                *ngFor="let elem of groupOfProducts" value="{{elem}}" name="groupRadio"> 
                    {{elem}}
                </mat-radio-button>
                <mat-radio-button [routerLink]="['']" [queryParams]="{'search':searchQuery}" color="primary"
                (change)="showAllGroups()" value="" name = "groupRadio" [attr.checked]="true" class="filter-category-button">
                All products
            </mat-radio-button>
            </mat-radio-group>
            <button class="clear-filter-button" mat-raised-button color="primary" (click)="clearFilters()">Clear filters</button>

    </mat-card-content>
</mat-card>