.mat-card {
    padding: 0;
}

.filter-input {
    width: 100%;
    text-align: center;
}

/* .mat-input-hint {
    margin: 0 auto;
} */

.filter-category-section {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .filter-category-button {
      /* margin-top:10px; */
  }

  .filter-category-button:last-child {
      /* margin-bottom:15px; */
  }

  .clear-filter-button {
  }


@media (min-width: 300px) {

    .mat-card {
        width: 100%;
        max-width: 310px;
        margin: 0 auto;
    }

    .filter-category-section {
        display: grid;
        grid-template-columns: 165px 150px;
        justify-items: start;
        grid-row-gap: 10px;
        font-size: 0.8rem;
    }

    .filter-category-button {
        margin: 0;
      }

      .filter-category-button:last-child {
        margin: 0 0 0 105px;    
      }
    
       .clear-filter-button {
          display: block;
          width: 200px;
          height: 40px;
        margin: 15px auto 0 auto;
      }
      .mar-card-content {
          text-align: center;
      }
} 
@media (min-width: 500px) {
    .mat-card {
        width: 100%;
        max-width: 510px;
    }
    .filter-category-section {
        display: grid;
        grid-template-columns: 160px 150px 180px;
        justify-items: start;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        font-size: 0.8rem;
    }

    .filter-category-button {
        margin: 0;
      }

      .filter-category-button:last-child {
        margin: 0;  
      }
    
       .clear-filter-button {
          display: block;
          width: 300px;
          height: 40px;
          margin: 20px auto 0 auto;
      }
      .mar-card-content {
          text-align: center;
      }
}

@media (min-width: 810px) {
    .mat-card {
        width: 100%;
        max-width: 810px;
        /* margin-bottom: 10px; */
    }
    .filter-category-section {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        margin: auto
    }

    .filter-category-button {
        margin-top: 10px;
      }

      .filter-category-button:last-child {
        margin: 10px 0;  
      }
    
       .clear-filter-button {
          display: block;
          width: 330px;
          height: 50px;
          margin: 20px auto 0 auto;
          font-size: 1.1rem;
      }
      .mar-card-content {
          text-align: center;
          padding: 10px;

      }

      .filter-input {
        margin-bottom: 30px;
        font-size: 1rem;
    }

    .mat-input-hint {
        line-height: 1rem;
        font-size: 0.8rem;
    }
}

@media(min-width: 1023px) {
    .mat-card {
        width: 100%;
        max-width: none;
        /* margin-bottom: 10px; */
    }
    .filter-category-section {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        margin: auto
    }

    .filter-category-button {
        margin-top: 20px;
      }

      .filter-category-button:last-child {
        margin: 20px 0;  
      }
    
       .clear-filter-button {
          display: auto;
          width: none;
          height: 50px;
          margin: 20px auto 0 auto;
          font-size: 1.1rem;
      }
      .mar-card-content {
          text-align: center;
          padding: 10px;

      }

      .filter-input {
        margin-bottom: 30px;
        font-size: 1rem;
        text-align: left;
    }

    .mat-input-hint {
        line-height: 1rem;
        font-size: 0.8rem;
    }
}